{% extends "layout/base.html" %}

{% block content %}
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>DataSound</strong></h1>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-bottom">
                        <div class="form-calc">
                            <h3 class="points">Sobre:</h3>
                            <p>O projeto DataSound surgiu da ideia de classificar o gosto musical dos usuários.
                                Avaliamos a popularidade de todos os artistas presentes nas suas playlists do Spotify, em seguida realizamos um cálculo para avaliar artistas e suas popularidades tendo como saída uma nota e uma classificação do seu estilo musical. Tente a sorte!
                            </p>
                            <a id="index" href="/" class="btn btn-success">Página Principal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_assets %}
{% endblock js_assets %}
