<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Projeto DataSound</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="static/css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/form-elements.css">
        <link rel="stylesheet" href="static/css/style.css">
    </head>

    <body>
        {% block content %}
        {% endblock content %}

        <footer id="footer">
            <ul class="icons">
                <li><a href="https://github.com/FredericoVieira/datasound" class="fa fa-github fa-lg"><span class="label">GitHub</span></a>
                </li>
            </ul>
        </footer>

        <!-- Javascript -->
        <script src="static/js/jquery.3.1.0.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/jquery.backstretch.min.js"></script>
        <script src="static/js/base.js"></script>

        {% block js_assets %}
        {% endblock js_assets %}
    </body>

</html>