<!DOCTYPE html>
<html>
    <head>
        <title>DataSound</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="...">

        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'/>

        <!-- CSS Files -->
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" type="text/css">

    </head>
    <body>
        <!-- Header -->
        <header id="header">
            <h1>DataSound</h1>
            <p>Description</p>
        </header>

        <!-- Section -->
        <section class="controls">
        </section>

        <!-- Footer -->
        <footer id="footer">
        </footer>

        <!-- Javascript Files -->
        <script type="text/javascript" src="/static/js/jquery.3.1.0.min.js"></script>
        <script type="text/javascript" src="/static/js/base.js"></script>
    </body>
</html>