{% extends "base.html" %}

    {% block content %}
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>DataSound</strong></h1>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-bottom">
                            <div class="form-calc">
                                <h3 class="points">Sua pontuação é:</h3>
                                <h1 id="counter" class="counter">0</h1>
                                <h1 class="classification"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}

    {% block js_assets %}
        <script type="text/javascript" src="static/js/d3.4.4.0.js"></script>
        <script type="text/javascript" src="static/js/score.js"></script>
    {% endblock js_assets %}
